<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/gist/deps/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/gist/gist.css" rel="stylesheet" media="screen">
    <script src="/gist/deps/jquery/jquery-2.0.3.min.js"></script>
    <script src="/gist/deps/bootstrap/js/bootstrap.min.js"></script>
    <script src="/gist/deps/ace/ace.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/gist"><strong>PlatDev</strong> Gist</a>
        </div>
      </div>
    </div>
    {{{body}}}
  </body>
</html>