<div class="container">
  <h2>I'm sorry, that gist does not exist.</h2>
  <iframe width="640" height="480" src="//www.youtube-nocookie.com/embed/gLd40ddnN7c" frameborder="0" allowfullscreen></iframe>
</div>