<style type="text/css">
  {{{css}}}
</style>
<div class="container">
  <strong class="text-muted">{{language}}</strong>
  <a href="/{{id}}.txt" class="pull-right">Raw</a>
  <div id="gist-contents" class="code"><div class="code-spacer"></div>{{{html}}}<div class="code-spacer"></div></div>
</div>
