<style type="text/css">
  {{{css}}}
</style>
<div class="container">
  <strong class="text-muted">{{language}}</strong>
  <a href="/gist/{{id}}/raw" class="pull-right">Raw</a>
  <div id="contents">{{{html}}}</div>
</div>