<div class="container">
  <div class="bubble bottom-12">
    <div class="header">
      <strong class="text-muted">{{language}}</strong>
    </div>
    <div class="contents">{{contents}}</div>
  </div>
</div>