<style type="text/css">
  {{{css}}}
</style>
<div class="container">
  <strong class="text-muted">{{language}}</strong>
  <a href="/gist/{{id}}.txt" class="pull-right">Raw</a>
  <div id="contents"><div class="contents-spacer"></div>{{{html}}}<div class="contents-spacer"></div></div>
</div>