<div class="container">
<div class="bubble">
  <div class="header">
    <strong>{{name}}</strong>
    <span style="visibility: hidden;">spacer</span>
    <div class="pull-right"><strong class="text-muted">{{language}}</strong></div>
  </div>
  <div class="contents">{{contents}}</div>
</div>
</div>