.bubble {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px 0 #eee;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#editor {
  height: 500px;
}

#gist-contents {
  background-color: #fff;
  margin-top: 6px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px 0 #eee;
  border-radius: 3px;
  margin-bottom: 12px;
  display: block;
}

.code {
  white-space: pre;
  overflow-x: auto;
}

.document {
  padding: 30px;
}

.document>*:first-child {
  margin-top: 0px !important;
}

.code-spacer {
  height: 6px;
  width: 35px;
  border-right: 1px solid #eee;
}

h1, h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  line-height: 1.7;
}
