.bubble {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px 0 #eee;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#editor {
  height: 500px;
}

#contents {
  background-color: #fff;
  margin-top: 6px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px 0 #eee;
  border-radius: 3px;
  margin-bottom: 12px;
  display: block;
  white-space: pre;
  overflow: scroll;
}
